@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    padding:0;
    margin:0;
    background-color: #daecfd;

}

*{
    box-sizing: border-box;
}

.container > div{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card{
    background-color: #cde7ff;  
    color:#b3b8cd;
    border-radius: 5px;
    max-width: 350px;
    width:100%;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
}

.card-header{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
    border-radius: 5px 5px 0 0;
    padding: 0 15px;
}

.card-photo{
    height: 120px;
    width:120px;
    border-radius: 50%;
    border: 1px solid #daecfd;
    padding: 7px;
    background-color: #cde7ff;
    overflow: hidden;
    transform: translateY(calc(50% + 40px));
}

.card-photo img{
    display: inline-block;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.card-body{
    padding: 0 15px 15px;
    text-align: center;
}

.card-name{
    font-size: 25px;
    font-weight: 700;
    margin: 30px 0 0 135px;
}

.card-description{
    font-size: 16px;
    line-height: 21px;
    margin-top: 35px;
}

br {
    font-size: 13px;
    margin-top: 10px;
}

.desc {
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
}

.card-button{
    margin: 10px 0 40px;
}

.card-button button:first-of-type{
    margin-right: 10px;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    transition: all .5s ease;
    cursor: pointer;
}

.btn-outline-primary{
    border:1px solid #03bfbc;
}


.btn-outline-primary:hover{
    color: #231e39;
    background-color: #03bfbc;
}


.btn-outline-primary {
    color: #231e39;
    background-color: transparent;
    color: #03bfbc;
}


.card-social{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.card-social li{
    padding-right: 20px;
    transition: all .5s ease;
}

.card-social li:last-of-type{
    padding-right: 0;
}

.card-social li a{
    font-size: 20px;
    color:#b3b8cd;
}

.card-social li a:hover{
    color: #03bfbc;
}

@media only screen and (max-width: 411px) {
    .card {
        max-width: 300px;
    }
}